---
import Layout from '@layouts/Layout.astro';
import MainBanner from '@components/SearchBar.astro';

---

<Layout title="404 | QLINK" lang="id">
	<main class="mx-5 lg:mx-16 mt-12 lg:mt-24 mb-2 lg:mb-12 lg:px-9 py-auto">

	<MainBanner />
	</main>
</Layout>


