---
import Layout from '@layouts/Layout.astro';
---
<Layout title="Tech Docs" lang="id">
    <main class="font-sans mx-5 lg:mx-16 mt-12 lg:mt-24 text-lg mb-2 lg:mb-12 lg:px-9 py-auto">
      <h1 id="tech-stack" class="font-bold text-xl md:text-2xl">Tech Stack</h1>
      <ul aria-labelledby="tech-stack">
       
        <li>Mysql PlanetScale</li>
        <li>Svelte</li>
        <li>Prisma</li>
        <li>Vanilla JS</li>
        <li>Uno Css</li>
        <li>Astro JS</li>
      </ul>
      <p>Untuk Lebih lanjutnya bisa dibaca di artikel berikut <a class="font-bold text-black dark:text-teal-100" href="https://www.sarbeh.com/crafting/short">Dokumentasi Karya Pemendek URL</a></p>
  
      <span class="text-md font-bold">All API Served on https://www.sarbeh.com/, if you interisting to use this API, for free to add this endpoind</span>
      <details id="API" class="border rounded-md p-4 mb-2" open>
        <summary class="font-bold mb-2 text-md md:text-xl cursor-pointer">POST api/Post</summary>
        <div aria-labelledby="api-post">
          <h2 id="api-post" class="font-bold md:text-2xl text-md">Create a new data entry</h2>
          <h3 class="font-bold text-md">Request</h3>
          <p class="mb-1"><span class="font-bold">Content Type:</span> application/json</p>
          <p class="mb-1"><span class="font-bold">Body:</span></p>
          <pre class="border rounded-md p-2 bg-gray-200 dark:bg-black/65 text-wrap">
    
      "uniqcode": "Unique alphanumeric code",
      "link": "The link to be stored"
   
          </pre>
          <h3 class="font-bold text-md mt-2">Responses</h3>
          <p class="mb-1"><span class="font-bold">200:</span> Link created successfully</p>
          <p class="mb-1"><span class="font-bold">400:</span> Bad request, possibly due to invalid input or the unique code is already in use</p>
          <p class="mb-1"><span class="font-bold">500:</span> Server error</p>
        </div>
      </details>
    
      <details class="border rounded-md p-4 mb-2">
        <summary class="font-bold mb-2 text-md md:text-xl cursor-pointer">POST /api/U2zg</summary>
        <div aria-labelledby="api-u2zg">
          <h2 id="api-u2zg" class="font-bold md:text-2xl text-md">Fetches a link from the API based on a unique code</h2>
          <h3 class="font-bold text-md">Request</h3>
          <p class="mb-1"><span class="font-bold">Content Type:</span> application/json</p>
          <p class="mb-1"><span class="font-bold">Body:</span></p>
          <pre class="border rounded-md p-2 bg-gray-200 dark:bg-black/65  text-wrap">
    
      "uniqcode": "Unique alphanumeric code"
    
          </pre>
          <h3 class="font-bold text-md mt-2">Responses</h3>
          <p class="mb-1"><span class="font-bold">200:</span> Returns the fetched link</p>
          <p class="mb-1"><span class="font-bold">404:</span> Link not found</p>
          <p class="mb-1"><span class="font-bold">400:</span> No unique code provided or invalid Content-Type</p>
        </div>
      </details>
    </main>
  </Layout>
  