---
import Shorteaner from "./App/Pemendek.svelte";

---

<section class="max-w-6xl mx-auto flex items-center justify-center">
	<div class="text-center mt-5">
	
		<h1 id="main-title" class="font-sans font-600 text-5xl lg:text-7xl spacing-2 dark:text-teal-300 text-teal-700">
			Mending Nyobain <b class="dark:text-white text-black">QLM.one</b> aja, ntuk mendekin URL mu yang Panjaaaaaaaaaaaaaaaang itu
		</h1>
	
		<Shorteaner client:load />
	</div>
</section>
